.custom-light {
    background-color: #fff3f1;
    border: none;
}
.card {
    height: 100%;
    border-radius: 15px;
}
h2::after {
    content: "";
    margin-top: 5px;
    margin-left: auto;
    width: 150px;
    height: 3px;
    border-radius: 3px;
    background-color: #ffb0a8;
    display: block;
}
/* #home,
#recipes,
#tricks {
    min-height: 100vh;
} */
img {
    max-width: 100%;
}
/* h4 {
    margin: 3px 0px 3px 0px;
} */
#tricks > li {
    margin: 10px;
}
.card-image > img {
    position: absolute;
    top: -0%;
    right: -0%;
    transform: translate(25%, -50%);
    width: 25%;
}
/* @media screen and (min-width: 576px) {
    .card-image > img {
        position: absolute;
        width: 25%;
    }
} */
