$bg-color: lightblue;
$secondary-color: lightgreen;
$border-color: black;

// body {
//     background: $bg-color;
//     border: solid $border-color;
// }
// .container {
//     background: $secondary-color;
//     border: solid $border-color;
// }
